@font-face {
    font-family: Lequire;
    src: url(/assets/font/Lequire.otf);
}
@font-face {
    font-family: Sarcolenta;
    src: url(/assets/font/Sarcolenta.ttf);
}
body{
    background-color: #bde0fe;
    padding: 0%;
    margin: 20px;
    overflow-x: hidden;
    position: relative;
    justify-content: center;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
div{
    margin: 0%;
    padding: 0%;
}
a,a:active,a:visited{
    color: black;
    text-decoration: none;
}
ul{ 
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    margin: 30px;
}

section{
    height: 100vh;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: #bde0fe;
}

.menubar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #669bbc;
    margin-left: 20px;
    margin-right: 20px;
    width: 100vw;
    height: 6vh;
    border-radius: 100px;
}
.title-box{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 0;
}
.title{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    font-family: lequire;
    font-weight: 300;
    margin: 0;
    color: #003049;
}
.sub-title{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    font-family: Sarcolenta;
    margin: 0;
    font-weight: 300;
    color: #003049;
}
.button{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
}
.button1,.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    color: aliceblue;
    font-size: 1.2rem;
    background-color: #003049;
    border-radius: 100px;
}